h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

nav {
  display: grid;
}

.ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header {
  position: relative;
  background-color: #466ca5;
  color: #ffffff;
  font-weight: bold;
}
